
 <div>
 <div>
  <!-- <img src="../../assets/images/mapBg.jpg" id="bg" alt=""> -->
 </div>
 <div>
<form #ipform=ngForm>
  <div class="row col-md-12 m-0">
    <div class="col-md-2 col-1"></div>
    <div class="col-md-8 col-10">
      <h4 class="h4 glow display-4" style="text-align: center;">Location Finder</h4>
      <div class="input-group">
        <input class="form-control form-control-lg" type="text" placeholder="Enter IP Address..."
        [(ngModel)]="IpAddress"name="IpAddress"
        aria-label="Enter IP Address..." name="ipsearchbox">
          <button class="btn btn-success"  (click)="FindIp()"><i class="fi-xnsuxl-magnifying-glass-solid"></i>
            Search</button>
      </div>
    </div>
    <div class="col-md-2 col-1"></div>
  </div>
<br>
  <div class="col-md-12 row m-0" style="text-align: center;">
    <h4 class="mb-0 glow display-4">Result Data</h4>
  </div>
  <div class="col-md-12 row m-0">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <table class="table table-success table-striped table-hover">
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Country</td>
            <td>{{country}}</td>

          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Region</td>
            <td>{{Region}}</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td >City</td>
            <td>{{City}}</td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td >Isp</td>
            <td>{{isp}}</td>
          </tr>
          <tr>
            <th scope="row">5</th>
            <td >Lattitude Longtitude</td>
            <td>{{lat}} {{lon}}</td>
          </tr>
          <tr>
            <th scope="row">6</th>
            <td >Pin</td>
            <td>{{pin}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-2"></div>

  </div>

  <!-- map  -->
  <div class="row col-md-12">
    <div class="col-md-2 col-1"></div>
    <div class="col-md-8 col-10" style="padding-left: 25px;">
      <div class="map-container ">
        <div class="map-frame">
          <div id="map"></div>
        </div>
      </div>
    </div>
    <div class="col-md-2 col-1"></div>
  </div>

</form>
</div>
</div>

<footer>
  <div class="footer">
     <div class="container">
         <h5>© 2021 Veemak</h5>
     </div>
  </div>
</footer>

<div>

  <!-- <div class="col-lg-4 col-lg-offset-4">
    <div class="input-group input-group-sm mb-3">

        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">

        <button type="button" class="btn btn-outline-primary">lookup</button>

    </div>
    </div> -->



</div>
